[Unit]
Description=Ping Exporter
Documentation=https://github.com/czerwonk/ping_exporter
After=network.target

[Service]
User=root
ExecStart=/usr/bin/ping_exporter \
{% if listen_address is vyos_defined %}
{%     for address in listen_address %}
        --web.listen-address={{ address }}:{{ port }} \
{%     endfor %}
{% else %}
        --web.listen-address=127.0.0.1:{{ port }} \
{% endif %}
        --config.path=/run/ping_exporter/config.yml
[Install]
WantedBy=multi-user.target
