global:
  scrape_interval: 15s
  scrape_timeout: 15s
{% if global_label is defined %}
  external_labels:
{%     for label_name, label_config in global_label.items() %}
    {{ label_name }}: {{ label_config.value }}
{%     endfor %}
{% endif %}


scrape_configs:
{% if job.node_exporter is defined %}
  # vyos node-exporter
  - job_name: "vyos-node-exporter"
    static_configs:
      - targets: ["{{ job.node_exporter.url }}"]
{% endif %}

{% if job.ping_exporter is defined %}
  # vyos ping-exporter
  - job_name: "vyos-ping-exporter"
    static_configs:
      - targets: ["{{ job.ping_exporter.url }}"]
{% endif %}

  # vyos snmp-exporter
  - job_name: "vyos-snmp-exporter"
    scrape_interval: 60s
    scrape_timeout: 60s
    metrics_path: /snmp
    file_sd_configs:
    - files:
      - "/run/vmagent/*-file_sd_config.yml"
    relabel_configs:
      - source_labels: [module]
        target_label: __param_module
      - source_labels: [auth]
        target_label: __param_auth
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:9116
